<div class="container-fluid">

    <div class="form-group">
        <label for="githubUser" class="col-sm-2 control-label">Github Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="githubUser" ng-model="user" placeholder="gh_username">
        </div>
    </div>
    <div class="form-group">
        <label for="githubUser" class="col-sm-2 control-label">Github Repo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="githubRepo" ng-model="repo" placeholder="gh_repo">
        </div>
    </div>
    <div class="form-group">
        <label for="githubUser" class="col-sm-2 control-label">Github JS Filename</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="githubFile" ng-model="filename" placeholder="gh_path/to/file">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" ng-click="go()">Load</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div>reading {{stringBuilder()}}</div>
        </div>
    </div>

    <code>
        <div class="clearfix c-block" ng-repeat="entry in content">
            <div class="col-md-6">
                <div class="comment-box c-box" ng-repeat="comment in entry.comment">
                    <span>{{comment.num}}</span>
                    <span ng-bind-html="comment.content" />
                </div>

            </div>
            <div class="col-md-6">
                <div class="code-box c-box"ng-repeat="code in entry.code">
                    <span>{{code.num}}</span>
                    <span ng-bind-html="code.content" />
                </div>
            </div>
        </div>
    </code>
</div>
